Android

Minimum
OS: Android 2.2 (API level 8) or greater
Internal Storage Media: 2 MB
External Storage Media: 2 MB

Recommended
OS: Android 2.2 (API level 8) or greater
Internal Storage Media: 2 MB
External Storage Media: 24 MB
Other hardware features: touch screen, accelerometer, GPS, speech recognition/network, speaker, vibrator, Bluetooth