<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.cheeseandbacon.bitbeast"
          android:installLocation="auto">

    <!-- Normal permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Dangerous permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false"/>
    <uses-feature android:name="android.hardware.faketouch" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi.direct" android:required="false"/>
    <uses-feature android:name="android.software.app_widgets" android:required="false"/>

    <supports-screens
        android:xlargeScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false" />

    <application
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".BitBeast"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Name"
            android:label="@string/name_name_entry"/>
        <activity
            android:name=".Activity_Status"
            android:label="@string/name_status"/>
        <activity
            android:name=".Activity_Store"
            android:label="@string/name_store_food"/>
        <activity
            android:name=".Activity_Game_RPS"
            android:label="@string/name_game_rps"/>
        <activity
            android:name=".Activity_Game_Accel"
            android:label="@string/name_game_accel"/>
        <activity
            android:name=".Activity_Game_GPS"
            android:label="@string/name_game_gps"/>
        <activity
            android:name=".Activity_Game_Speed_GPS"
            android:label="@string/name_game_speed_gps"/>
        <activity
            android:name=".Activity_Battle_Menu_Wifi"
            android:label="@string/name_battle_menu"/>
        <activity
            android:name=".Activity_Battle"
            android:label="@string/name_battle"/>
        <activity
            android:name=".Activity_Options"
            android:label="@string/name_options"/>
        <activity
            android:name=".Activity_Config"
            android:label="@string/name_config"/>
        <activity
            android:name=".Activity_Records"
            android:label="@string/name_records"/>
        <activity
            android:name=".Activity_Help"
            android:label="@string/name_help"/>
        <activity
            android:name=".Activity_Help_Page"
            android:label="@string/name_help_how_to_play"/>
        <activity
            android:name=".Activity_About"
            android:label="@string/name_about"/>
        <activity
            android:name=".Activity_Credits"
            android:label="@string/name_credits"/>
        <activity
            android:name=".Activity_Spend_Stat_Points"
            android:label="@string/name_spend"/>
        <activity
            android:name=".Activity_Rewards"
            android:label="@string/name_rewards"/>
        <activity
            android:name=".Activity_Inventory"
            android:label="@string/name_inventory_all"/>
        <activity
            android:name=".Activity_Equip"
            android:label="@string/name_equip"/>

        <receiver
            android:name=".WiFiDirectReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

    </application>

</manifest>
